<footer class="grey darken-4 white-text">
  <div class="row">
    <ul class="col s12 offset-m1 m6">
      <li><h1>Me contacter</h1></li>
      <li><p><fa-icon [icon]="faEnvelope"></fa-icon>robin.tourne@gmail.com</p></li>
      <li><a target="_blank" href="https://www.linkedin.com/in/robintourne-rotour/" class="white-text"
             style="display: block">
        <fa-icon [icon]="faLinkedin"></fa-icon>
        Mon profil Linkedin</a></li>


    </ul>
    <ul class="col s12 m4">
      <li><h1>Ressources</h1></li>
      <li><a target="_blank" href="/assets/files/Robin_tourne_CV.pdf" class="white-text" style="display: block">
        <fa-icon [icon]="faFileAlt"></fa-icon>
        Télécharger mon CV pdf</a></li>
      <li><a target="_blank" href="https://robin-tourne-cvgame.herokuapp.com/" class="white-text" style="display: block">
        <fa-icon [icon]="faGamepad"></fa-icon>
        Découvrir mon CV intéractif</a></li>
      <li><a target="_blank" href="https://github.com/RoTour" class="white-text"
             style="display: block">
        <fa-icon [icon]="faGithub"></fa-icon>
        Mon profil Github</a></li>
    </ul>
  </div>
  <div class="row center-block">
    <div class="col s12" style="text-align: center; color: rgba(255, 255, 255, 0.3)">
      © 2021 Robin TOURNE. All rights reserved.
    </div>
  </div>
</footer>
