<div class="container mt-3">
  <div class="row" style="display: flex">
    <div class="col s4">
    <span style="border-radius: 100% 100% 100% 100%; overflow: hidden">
      <img alt="profilePicture" src="assets/images/photopro.jpg" id="profilePicture">
    </span>
    </div>
    <div class="col s7 vertical-center">
      <h5 class="big-text">
        Robin TOURNÉ, étudiant sérieux et motivé
      </h5>
      <p style="font-size: large">
        Étudiant à Toulouse Ynov Campus en <strong>2ème année</strong>,
        et passioné de développement web, je recherche un stage d'un stage / d'une alternance
        afin de progresser et d'acquérir de l'experience dans ce domaine.
        Si c'est votre première fois sur ce site je vous invite à consulter mon
        <a target="_blank" href="https://robin-tourne-cvgame.herokuapp.com/">cv intéractif</a>, vous ne serez, je pense, pas déçu(e)!
      </p>
    </div>
  </div>

  <app-skills></app-skills>

</div>
