<div class="container mt-3">
  <div class="row" style="display: flex">
    <div class="col s4">
    <span style="border-radius: 100% 100% 100% 100%; overflow: hidden">
    <img alt="profilePicture" src="assets/images/photopro.jpg" id="profilePicture">
    </span>
    </div>
    <div class="col s7 vertical-center">
      <p>
        <strong>(PLACEHOLDER TEXT)Transforming your business with technology</strong><br>
        Every day, I provide my customers with powerful solutions to help
        them solve problems for their businesses. Connect with me today to
        learn more about how we can elevate your business together!
      </p>
    </div>
  </div>
  <div class="row">

  </div>
</div>
