<div class="row mega-spacing">
  <h2> Me découvrir: </h2>
</div>
<div class="row">
  <div class="col s12">
    <div class="tile-container">
      <a target="_blank" href="assets/files/Robin_tourne_CV.pdf">
        <div class="tile tile-1">
          <fa-icon [icon]="faDocument" size="10x"></fa-icon>
          <p>CV - Pdf</p>
        </div>
      </a>
      <a target="_blank" href="https://robin-tourne-cvgame.herokuapp.com/">
        <div class="tile tile-2">
          <fa-icon [icon]="faGamepad" size="10x"></fa-icon>
          <p>CV - Intéractif</p>
        </div>
      </a>
    </div>
    <div class="tile-container">
      <a target="_blank" href="https://github.com/RoTour">
        <div class="tile tile-1">
          <fa-icon [icon]="faGithub" size="10x"></fa-icon>
          <p>Github</p>
        </div>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/robintourne-rotour/">
        <div class="tile tile-2">
          <fa-icon [icon]="faLinkedin" size="10x"></fa-icon>
          <p>LinkedIn</p>
        </div>
      </a>
    </div>
  </div>
</div>
