/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

app-footer {
  width: 100%;
}

/* Desktop */
@media screen and (min-width: 993px){
  .desktop {
    transform: scale(1);
  }
  .tablet {
    height: 0;
    display: none;
  }
  .phone {
    height: 0;
    display: none;
  }
  .mobile {
    height: 0;
    display: none;
  }
}
/* Tablet */
@media screen and (min-width: 601px) and (max-width: 992px){
  .desktop {
    height: 0;
    display: none;
  }
  .tablet {
    transform: scale(1);
  }
  .phone {
    height: 0;
    display: none;
  }
  .mobile {
    transform: scale(1);
  }
}

/* Phone */
@media screen and (max-width: 600px){
  .desktop {
    height: 0;
    display: none;
  }
  .tablet {
    display: none;
    height: 0;
  }
  .phone {
    transform: scale(1);
  }
  .mobile {
    transform: scale(1);
  }
}

